@CHARSET "ISO-8859-1";

.avatar-diablo3 .diablo3-class-crest {
	display: block;
	position: absolute;
	opacity: 0.5;
	left: 10px;
	bottom: 10px;
}

.avatar-diablo3 .diablo3-bg-image {
	position: relative;
	width: 472px;
	height: 404px;
}
.avatar-diablo3 .item-bg-blue {
  background: url('http://us.battle.net/d3/static/images/item/icon-bgs/blue.png');
}
.avatar-diablo3 .item-bg-orange {
	background: url('http://us.battle.net/d3/static/images/item/icon-bgs/yellow.png');
}
.avatar-diablo3 .icon-bg {
  width: 64px;
  height: 128px;
}

.avatar-diablo3 .sholder-slot {
  position: absolute;
  left: 220px;
  top: 18px;
  display: block;
}

.avatar-diablo3 .helm-slot {
  position: absolute;
  left: 295px;
  top: -12px;
  display: block;
}
.avatar-diablo3 .amulet-slot {
  position: absolute;
  left: 365px;
  top: 52px;
  display: block;
}


.avatar-diablo3 .glove-slot {
  position: absolute;
  left: 200px;
  top: 107px;
  display: block;
}
.avatar-diablo3 .chest-slot {
  position: absolute;
  left: 285px;
  top: 52px;
  display: block;
}
.avatar-diablo3 .belt-slot {
  position: absolute;
  left: 294px;
  top: 174px;
  display: block;
}
.avatar-diablo3 .wrist-slot {
  position: absolute;
  left: 390px;
  top: 105px;
  display: block;
}


.avatar-diablo3 .rh-ring-slot {
  position: absolute;
  left: 197px;
  top: 207px;
  display: block;
}

.avatar-diablo3 .legs-slot {
  position: absolute;
  left: 294px;
  top: 196px;
  display: block;
}

.avatar-diablo3 .lh-ring-slot {
  position: absolute;
  left: 390px;
  top:207px;
  display: block;
}


.avatar-diablo3 .main-hand-slot {
	position: absolute;
	left: 194px;
	top: 263px;
	display: block;
}

.avatar-diablo3 .feet-slot {
  position: absolute;
  left: 293px;
  top: 283px;
  display: block;
}

.avatar-diablo3 .off-hand-slot {
  position: absolute;
  left: 391px;
  top: 266px;
  display: block;
}

.avatar-diablo3 .attributes {
  position: absolute;
  width: 157px;
  height: 357px;
  background: url(../images/attributes-underlay.png) no-repeat;
  
  color: #fff;
  padding: 10px;

  left: 14px;
  top: 13px;
  display: block;
}

/** Diablo 3 Teaser **/
.avatar-diablo3-teaser {
	min-height: 150px;
	padding: 10px;
	color: white;
}
.avatar-diablo3-teaser.avatar-diablo3-barbarian {
	background: url(http://us.battle.net/d3/static/images/hero/barbarian/bg.jpg);
	background-position-x: -70px;
	background-position-y: 0px;
}
.avatar-diablo3-teaser.avatar-diablo3-monk {
  background: url(http://us.battle.net/d3/static/images/hero/monk/bg.jpg);
  background-position-x: -190px;
  background-position-y: -28px;
}
.avatar-diablo3-teaser.avatar-diablo3-demon-hunter {
  background: url(http://us.battle.net/d3/static/images/hero/demon-hunter/bg.jpg);
  background-position-x: -150px;
  background-position-y: -38px;
}
.avatar-diablo3-teaser.avatar-diablo3-wizard {
  background: url(http://us.battle.net/d3/static/images/hero/wizard/bg.jpg);
  background-position-x: -190px;
  background-position-y: -38px;
}
.avatar-diablo3-teaser.avatar-diablo3-witch-doctor {
  background: url(http://us.battle.net/d3/static/images/hero/witch-doctor/bg.jpg);
  background-position-x: -150px;
  background-position-y: -38px;
}



/** Select Avatar Blocks **/
#block-alter-ego-alter-ego-select-avatar.avatar-diablo3 {
	background-image: url('../images/select-block-background.png');
	background-position: center;
}

#block-alter-ego-alter-ego-select-avatar .avatar-diablo3-select-block .content {
	padding-top: 17px;
  min-height: 130px;
  color: silver;
}

#block-alter-ego-alter-ego-select-avatar #select-avatar-block-name {
	text-shadow: none;
	font-size: 1.5em;
	color: white;
}

#block-alter-ego-alter-ego-select-avatar .diablo3-select-block-text-wrapper .field-name-field-level {
	padding-top: 30px;
}

/** Pulldown Renders **/
#select-avatar-block-pulldown .pulldown-portrait {
	float: left;
}


#select-avatar-block-pulldown .diablo3-pulldown-text-wrapper {
	margin-left: 50px;
}


/** Popup Renders **/
#alter-ego-popup IMG.diablo3-popup-img {
	float: left;
	background: black;
	border: 1px solid grey;
}

#alter-ego-popup .popup-frame {
	margin-left: 50px;
	background: black;
	width: 250px;
	min-height: 52px;
	border: 1px solid silver;
}